<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Deportivo</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenido al Club Deportivo</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'gestion_deportes:lista_deportes' %}">Deportes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Contenido específico de cada página -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Club Deportivo. Todos los derechos reservados.</p>
    </footer>